#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background: #fffdfc;
  color: black;
  /* text-align: center; */
}

label {
  display: block;
}

.container {
  border: 5px;
  border-color: blue;
  border-style: dashed;
  padding: 10px;

}
